footer{
    background-color: var(--colorPrimaryTwo);
}

/*Estilizando o rodapé da página*/
#footerItems{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

/* Estilizando o ícone de direitos autorais */
#copyRight{
    color: #1d1d1d;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footerItems{
        flex-direction: column;
        gap: 20px;
    }
}